@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.datepicker_background{
	background: #868686;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family:"Roboto","Helvetica","Arial",sans-serif;
	font-weight: 300;
	z-index: 8000;
	position: fixed;
}

.datepicker_wrapper{
	position: relative;
	width: 300px;
	height: 600px;
	margin: auto;
	padding: auto;
	background: #fff;
	top: 20%;
}
.datepicker_top_wrapper{
	background: #f06187;
	width: 100%;
	height: 35%;
	color: #fff;
}
.datepicker_year{
	text-align: center;
	margin: 15px 20px;
	border-bottom: solid thin #fff;
}
.datepicker_year_input{
	background: #f06187;
	color: #fff;
	border: none;
	font-size: 40pt;
	width: 165px;
	min-width: 165px;
	font-weight: 900;
	margin: auto;
}
.datepicker_day_wrapper{
	margin: 0px 20px;
	font-size: 30px;
}
.datepicker_day_name{
	font-weight: 300;
	float: left;
	width: 60%;
	text-align: center;
	vertical-align: middle;
}
.datepicker_day_number{
	font-size: 40pt;
	font-weight: 900;
	float: left;
	width: 20%;
	text-align: center;
}
.datepicker_month_wrapper{
	margin: 15px 20px;
}
.datepicker_month_left_selector , .datepicker_month_right_selector  {
	float: left;
	width: 30%;
	text-align: center;
}

.datepicker_month_name{
	float: left;
	width: 40%;
	text-align: center;
	font-weight: 900;
}
.month_select_control{
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: #f06187;
	cursor: pointer;
}
.datepicker_month_week_day, .datepicker_month_day_control{
	width: 14.28%;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.datepicker_month_days_wrapper{
	font-size: 12px;
	margin: 15px 0;
	float: left;
	width: 100%;
	border-bottom: solid thin;
	padding: 0 0 10px 0;
}
.datepicker_month_days_numbers_wrapper{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.datepicker_month_day_control{
	margin: 5px 0;
	font-size: 13px;
	cursor: pointer;
}
.datepicker_start_date, .datepicker_end_date{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
	display: inline-block;
	font-size: 13px;
}
.date_title{
	font-weight: 900;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  font-size:15px;
}
.datepicker_wrapper .active span{
	position: relative;
}

.datepicker_wrapper .active span:after {
  content:attr(data-badge);

  position:absolute;
  top:-2px;
  left:-4px;

  font-size:11px;
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  font-weight:600;

  text-align:center;
  line-height:23px;

  background:#f06187;
  color:#ffffff;

  width:22px;
  height:22px;           

  border-radius:50%;
  /* box-shadow:1px 2px 5px #888; */
}

.datepicker_close_button{
	position: absolute;
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    top: -10px;
    right: -10px;
    font-weight: 600;
}